NEXT_PUBLIC_BACKEND_URL=https://api.duramaterhealth.com
NEXT_PUBLIC_API_URL=https://api.duramaterhealth.com
NEXT_PUBLIC_APP_URL=http://localhost:5673
GOOGLE_CLIENT_ID=991164271099-pgu644l39p6thmdrn5o1fu3rt9b2bjgt.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
AUTH_SECRET=